.vscode/
build/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
__*/
!__init__.py
TODO
db/
EDA/
plugin/ARAG/.env
plugin/ARAG/user*
baseline/.env
baseline/report.py
baseline/testReport.py
baseline/EDA.py
baseline/results/*
dataset/*
baseline/vector_database/*
stats_*
*.pt
*.png
baseline/run_baseline.bat
baseline/run_baseline.bat
*.faiss
*.pkl
plugin/gcn/graph_data/user_*
plugin/gcn/graph_data/item_*
plugin/gcn/graph_data/review_*
output_tasks_*

