.vscode/
build/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
__*/
!__init__.py
TODO
db/
EDA/
plug-in/ARAG/.env
baseline/.env
baseline/results/*
dataset/
baseline/vector_database/*